*{
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
}
.header{
    height: 100vh;
    background-image: url(../first_header.jpg);
    background-position:50% 50%;
    background-repeat: no-repeat;
    background-size: cover;   
}
.container{
    margin-top: 19px;
}
.navbar{
    background-color: transparent;
    margin-left: 91px;
    margin-right: 120px;
}
.navbar-brand{
   height: 48px;
   width: 178px;
   margin-left: -38px;
}
.navbar-nav{
    margin-right: 17px;
}

.nav-link{
    margin:0 20px;
    font-family: 'Montserrat';
    font-weight: 700px;
    font-size: 16px;
    color: #FFFFFF!important; 
    transition: 2s!important;  
}
.nav-link:hover{
    border-bottom: 1px solid white;
     
}
.icons{
   margin-right: 30px;  
}
.nav-button{   
width: 150px;
height: 52px;
/* padding: 7.5px 19.5px; */
background: #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #000000;
text-transform: uppercase;
border: none;
transition: 1s;
}
.nav-button:hover{
    background-color: gray;
    color: white;
}
.slogan_title{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 70px;
text-align: center;

color: #FFFFFF;
}
.slogan_paragraph{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
text-align: center;
color: #FFFFFF;
}
.slogan{
    
    width: 1081px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 187px;
    gap: 20px;
}
.slogan_buttone{
    width: 220px;
height: 48px;
margin: 0 21px;
background: #5604AD;
font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
text-transform: uppercase;
border: none;
cursor: pointer;
transition: 0.5s;
}
.slogan_buttone:hover{
    opacity: 0.5;
}
.sbtn-2{
    color: black;
width: 194px;
height: 48px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
background: #FFFFFF;
margin-top: 5px;
}

.section{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #060307 23.04%, #090A26 55.93%);
}
.section_start{
    font-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
text-align: center;
color: #FFFFFF;
padding-top: 130px;
}

.row{
    margin-top: 100px;
   
    display: flex;
    margin-right: 10px;
}
.facebook{
    margin-top: 25px;
    
}
.google{
    margin-top: 49px;
    margin-left: 60px;
}
.apple{
    margin-top: 84px;
    margin-left: 98px;
}
.paypal{
    margin-top: 90px;
    margin-left: 70px;
}
.sony{
    margin-top: 84px;
    margin-left: 90px;
}
.amazon{
    margin-top: 32px;
    margin-left: 61px;
}
.titlesss{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
text-align: center;
color: #FFFFFF;
margin-top: 169px;
}
.f_t{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
margin-top: 24px;


}
.f_p{
    width: 275px;
    font-family: 'Montserrat';
font-weight: 400;
font-size: 14px;
text-align: center;
color: #FFFFFF;
margin-top: 49px;

margin-bottom: 93px;
padding: 0 10px!important;
}
.ph{
    margin-top: 1px!important;
}
.sh{
    margin-top: 34px;
}
.sp{
    margin-top: 49px;
}
.row_two{
    margin-top: 90px!important;
    
}

.robotsone{
    margin-top: 68px;
}
.robotstwo{
    margin-top: 43px;
}
.robotsthre{
    margin-top: 80px;
}
.mpi{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
color: #FFFFFF;
text-align: center;
margin-top: 130px;
}
.implants{ 
    border: 3px solid #E15CF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}
.popular_implants{
    margin-top: 90px;
    border: 3px solid #6892FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.implants_title{
    margin-top: 22px;
    font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
}
.implants_p{
    font-family: 'Montserrat';
font-weight: 400;
font-size: 14px;
text-align: center;
color: #FFFFFF;
margin-top: 49px;
margin-bottom: 93px;
width: 275px;
}
.p_imp{
    margin-top: 65px;
     margin-left: 75px;
     margin-right: 75px;
}
.biomonitor{
    margin-top: 77px;
    
}.heal{
    margin-top: 69px;
    
}
.kiroshi_p{
    margin-bottom: 71px;
}
.left{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translatex(-50%);
    left: 0;
    width: fit-content!important;
     left: -34px;
     
}
.right{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 0;
    left: inherit;
    top: 50%;
    transform: translatex(50%);
    right: -34px;
    width: fit-content!important;
    
}
.navbar-toggler{
    background-color: white!important;
    border: none!important;
    outline: none!important;
}
.row_imp{
    display: flex;
    align-items: center;
}
.wertilebi{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 20%!important;
    margin-left: auto;
    margin-right: auto;  
}
.ww{
    margin-top: 40px;
    margin-left: 8px;
    width: 17px;
}
.questen{
    margin-top: 130px;
    font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
text-align: center;
color: #FFFFFF;
}
.main{
    margin-top: 90px;
    height: 497px;
    background-image: url(../who.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_div{
    margin-left: auto;
    width: 340px;
    margin-top: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 87px;
}

.main_p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 39px;
text-align: center;
color: #FFFFFF;
width: 320px;
}
.main_btn{
    width: 194px;
height: 48px;
background: #5604AD;
font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
margin-top: 54px;
border: none;
}
.members_title{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
color: #FFFFFF;
text-align: center;
margin-top: 130px;
}

.group_title{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
color: #FFFFFF;
margin-top: 80px;
text-align: center;
}
.group_p{
    margin-top: 20px;
    font-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
text-align: center;
}


.group_cont{
    margin-top: 90px;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer{
    height: 420px;
    border: 1px solid #502356;
    margin-top: 130px;
    
}
.footer_container{
    display: flex;
}
.footer_info{
    width: 400px;
    margin-top: 120px;
    margin-left: -11px;
}
.footer_p{
    width: 391px;
    font-family: 'Montserrat';
font-weight: 400;
font-size: 12px;
color: #FFFFFF;
margin-top: 32px;
}
.footer_icons{
    margin-top: 32px;  
}
#facebook{
    margin-right: 56px;
}
#instagram{
    margin-right: 56px;
}
.footer_nav_list{
    list-style: none;
   margin-left: -39px;
   margin-top: 25px; 
}
.fnltwo{
    margin-left: -33px;
}
.fnlthree{
    margin-left: -31px;
}
.footer_nav{
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 159px; 
}
.footer_nav_two{
    margin-left: 159px;
}
.footer_nav_three{
   margin-left: 139px;
   width: 84px;
   flex-wrap: nowrap;
}
.problem_link{
    width: 84px;
}
.footer_nav_title{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
text-decoration-line: none;
}
.fnttwo{
    margin-left: -8px;

}
.fntthree{
    margin-left: -15px;
}

.footer_nav_list_item{
    margin: 10px 0;
}
.footer_nav_link{
    font-family: 'Montserrat';
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
text-decoration-line: none;
}
.two_h{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
color: #FFFFFF;
margin-left: -10px;

text-decoration-line: none;
}
.two_list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -35px;
    
}
.two_item{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
margin: 0 25px;
color: #FFFFFF;
margin-top:-30px;
}

/* about us */

.header_aboutus{
    background-image: url(../asheader.png);
    height:1000px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sheader_text{
    width: 470px;
    margin-left: auto;
    margin-top: 160px;
}
.sheader_p{
    font-family: 'Montserrat';
    
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}
.sheader_btn{
    width: 194px;
    margin-top: 48px;
height: 48px;
color: #FFFFFF;
background: #7E10B3;
border: none;
font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
}
.about_section{
    height: 1994px;
    background-color: #090A26;;
}
.intro{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 24px;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 130px;
padding-left: 119px;

}
.second_main{
    background-image: url(../secmainbq.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    margin-top: 90px;
}
.main_text{
   margin-left: -10px;
   margin-top: 195px;
}
.ab_footer{
    margin-top: 130px;
}
.header_contact{
    height: 1034px;
    background-image: url(../contheader.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.con_title{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 36px;
color: #FFFFFF;
text-align: center;
margin-bottom: 28px;
margin-top: 265px;

}
.con_p{
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
text-align: center;
margin-bottom: 28px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_input{
    width: 507px;
    height: 50px;
    margin: 10px 0;
    
}
textarea{
    width: 507px;
    height: 180px;
    margin-top: 10px!important;
}
.form_button{
    width: 119px;
height: 48px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
background: #7E10B3;
border: none;
cursor: pointer;
transition: 0.5s;
margin-top: 25px;
}
.form_button:hover{
    background-color: green;

}
::placeholder{
    text-transform: capitalize;
    font-style: normal;
font-weight: 400;
font-size: 18px;
color: #000000;
}
.contact_section{
    height: 624px;
    background: #090A26;   
}
.contact_footer{
    position: relative;
    top: 130px;   
}
.rights_container{
    position: relative;
    margin-bottom: 25px;
    top: 130px;
}
.pr-link{
    width: 109px;
}
.footer_nav_container{
    display: flex;
}













































































@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1200px!important;
    }
}


